.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.env
.env.*
!.env-example
bot/.env
.DS_Store
.idea/
*.egg-info/
dist/
build/
dev_tools/mock_bmk_it/files/*
!dev_tools/mock_bmk_it/files/.gitkeep