{% extends "sqladmin/layout.html" %}
{% from 'sqladmin/_macros.html' import render_form_fields %}
{% block content %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Редактировать {{ model_view.name }}</h3>
    </div>
    <div class="card-body border-bottom py-3">
      <form action="{{ request.url.path }}" method="POST" enctype="multipart/form-data">
        <div class="row">
          {% if error %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endif %}
        </div>
        <fieldset class="form-fieldset">
          {{ render_form_fields(form, form_opts=form_opts) }}
        </fieldset>
        <div class="row">
          <div class="col-md-2">
            <a href="/admin/{{ model_view.identity }}/list" class="btn">
              Отмена
            </a>
          </div>
          <div class="col-md-6">
            <button type="submit" name="save" value="Save" class="btn btn-primary">Сохранить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}